.child{
    z-index: -1;
}

.account-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF9E1;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #3D2469;
}

.company-details {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.company-logo {
    width: 50px;
    height: 50px;
    background-color: #FF5733;
    border-radius: 50%;
    margin-right: 15px;
}

.department-name {
    font-size: 1rem;
    font-weight: bold;
}

.department-count {
    font-size: 0.9rem;
    margin-right: 2rem;
}

.more-info {
    font-size: 0.6rem;
    margin-top: 30px;

}
.location{
    color: aliceblue;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #F8F8F8;
 }
 .add-company-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-company-button:hover {
    background-color: #E04A2A;
}

.mail{
    cursor: pointer;
}