
/* หน้า calendar */
.calendar {
    width: 100%; 
    height: 70vh; 
    background-color: #F2F2E6;
    border-radius: 10px;
    padding: 20px; 
    box-sizing: border-box;
    color: #473366;
    display: flex;
    flex-direction: column;
  }
  
  .calendar h2 {
    color: black;
    margin: 0 0 10px 0;
    /* font-size: 18px; */
    font-weight: bold;
    text-align: left; 
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
    color: #473366;
  }
  
  .calendar-header h3 {
    color: black;
    margin: 0;
    font-size: 14px;
    margin-left: auto; 
  }
  
  
  .calendar-date {
    font-size: 16px;
    color: #473366;
    text-align: right;
  }
  
  .calendar-table {
    width: 100%;
    height: 100%; 
    border-collapse: collapse;
    text-align: center;
    background-color: #F2F2E6;
    color: #473366;
  }
  
  .calendar-table th,
  .calendar-table td {
    padding: 10px;
    width: calc(100% / 7); 
    height: calc(100% / 6); 
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
  }
  
  .highlighted {
    background-color: #fd6e2b;
    color: white;
    font-weight: bold; 
    border-radius: 5px; 
  }
  