.staffmanage-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    column-gap: 2%;
    width: 100%;
    max-height: 65%;
    margin: 5% 0%;
}

.information {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-color: var(--primary-white);
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px; 
}

.user-details {
    display: flex;
    flex-direction: column;
}

.profile-photo, .userPhoto {
    width: 15vw;
    height: 20vh;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
}

.user-name {
    font-size: 24px;
}

.role {
    font-size: 16px;
    color: gray;
}

.contact-info {
    font-size: 14px;
    margin: 2px 0;
}

.user-description-container {
    margin-top: 20px; 
    text-align: left;
    translate: 0% -25%;
}

.user-description-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.edit-button {
    display: flex;
    justify-content: center;
    background-color: #ff6f00;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 12vw;
    translate: -100% -100%;
    position: relative;
    top: -55%;
    right: -95%;
    transition-duration: 0.4s;
}

.edit-button:hover {
    background-color: var(--primary-vio);
    color: var(--primary-org);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 100px 0 rgba(0,0,0,0.19);
}

.behavior-body, .assigntment-footprint-body {
    background-color: var(--primary-white);
    border-radius: 10px;
    width: 100%;
    height: 30vh;
}

.behavior-container {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.behavior-header {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-org);
}

.assigntment-footprint-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-top: 2%;
}

.assigntment-footprint-header {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-org);
}

/* .assigntment-footprint-body {
    opacity: 65%;
} */

.assingment-container {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    translate: 0% 25%;
  }
  
  .assingment {
    display: flex;
    align-items: center;
    background-color: #fdfbe7; 
    border-radius: 8px;
    padding: 10px;
    justify-content: space-between; 
  }
  
  .assingment-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
  }
  
  .assingment-right p {
    margin: 0;
  }
  
  .assingment-right a {
    font-size: 0.9rem;
    color: gray;
    text-decoration: none;
  }
  
  .assingment:hover {
    outline: 2px solid #007bff;
  }
  

