.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it overlays other components */
  transition: opacity 0.3s ease; /* Smooth fade-in/out effect */
}

.popup-inner {
  position: relative;
  width: 100%;
  max-width: 600px; /* Limit the popup width */
  height: auto; /* Adjust height based on content */
  max-height: 90%; /* Ensure it doesn't overflow vertically */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Enable scrolling if content overflows */
  padding: 20px;
}

.popup-inner .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  border: none;
  background: none;
}

header.header {
  padding: 0;
}

nav.mail-nav {
  background-color: var(--primary-vio);
  padding: 10px 15px;
  display: flex;
  gap: 20px;
}

.all-mail, .recent-mail {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.mail-container {
  background: var(--primary-vio);
  padding: 15px;
  border-radius: 5px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "menu main main main main"
    "menu footer footer footer footer";
  background-color: var(--primary-white);
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.grid-container:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-org);
}

.card-text-role {
  font-weight: bold;
}

.show-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--primary-org);
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.show-more-button:hover {
  background-color: rgb(229, 76, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
