
.map-container {
    position: absolute; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: var(--primary-white);
    left: 0;
  }
  
  .summary-section {
    display: grid;
    grid-template-rows: 50px 150px 1fr;
    padding: 20px;
    gap: 10px;
    background-color: var(--primary-white);
  }
  
  .summary-title {
    text-align: center;
    color: var(--bold-org);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .summary-stats {
    display: flex;
    justify-content: space-around;
  }
  
  .stat-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primary-org);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  .title{
    font-weight: bold;
    font-size: 1rem;
  }
  .stat-value {
    font-size: 2rem;
    margin: 0;
  }
  
  .stat-unit {
    margin: 0;
    font-size: 1rem;
  }
  
  .summary-table {
    width: 100%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
  }
  
  .table-header, .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
  }

  .table-row:hover{
    background-color: var(--sup-org);
  }
  
  .table-header {
    background-color: var(--bold-org);
    color: white;
    font-weight: bold;
  }
  
  .header-cell {
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }
  
  .table-body {
    max-height: 100%;
    overflow-y: scroll;  /* Enable scrolling */
  }
  
  /* Hide the scrollbar but keep scrolling */
  .table-body::-webkit-scrollbar {
    width: 1px;
    height: 0;
  }
  
  .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cell {
    position: relative;
    padding: 10px;
    border-right: 1px solid #ddd;
  }
  
  .cell:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
  }
  
  .percentage-bar {
    display: flex;
    width: 125px;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
    margin-left: 1rem;
    border: 1px solid black;

  }
  
  .green-bar {

    background-color: green;
  }
  
  .yellow-bar {

    background-color: yellow;
  }
  
  .red-bar {

    background-color: red;
  }
  
  .Back-Button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: absolute;
    background-color: var(--bold-org);
    bottom: 11%; left: 1rem;
    width: 150px; height: 45px;
    z-index: 500;
    color: white;
    cursor: pointer;
  }

  .Back-Button:hover{
    background-color: var(--hover);
    color: black;
  }
  .company-color-indicator {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px; 
    border-radius: 50%;
    top: 50%; left: 1rem; translate: -50% -50%;
    
  }
  
