
/* หน้า assignment-nearly */
.assignment-nearly-container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #F2F2E6;
    font-family: Arial, sans-serif;
    margin: 0 auto;
  }
  .assignment-nearly {
    height: 80vh;
  width: 100%;
  background-color: #F2F2E6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 0;
  box-sizing: border-box;
  }
  .assignment-nearly h2 {
    color: black;
    margin: 0;
  }


  /* หน้า place-nearly */
  .nearly-place-container {
    height: 90vh; 
    width: 100%; 
    background-color: #F2F2E6; 
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    gap: 20px;
    box-sizing: border-box;
    margin: 0;
  }
  .nearly-place-container h2 {
    color: black;
    margin: 0 0 20px 0;
    align-self: flex-start; 
    font-size: 25px;
    font-weight: bold;
  }
  .place-section {
    /* border: dashed 3px #FD6E2B; */
    border-radius: 10px;
    height: 100%;
    max-height: 70%; 
    width: 100%; 
    background-color: #FAD8B0; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    box-sizing: border-box;
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .place-section h3 {
    color: black;
    margin: 0 0 10px 0; 
    font-size: 20px;
    font-weight: bold;
  }
  .task-card2 {
    display: flex;
    align-items: center;
    background-color: #fd6e2b;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    justify-content: space-between;
    color: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .task-card2 .task-title {
    font-size: 16px;
  }
  .finish {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .return-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    padding: 10px;
    font-size: 14px;
    background-color: #fd6e2b;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  
  