.info-container {
  display: grid;
  grid-template-rows: auto 1.5fr auto;
  gap: 10px;
  padding: 10px;
  /* border: 2px solid black; */
  height: 800px;
  width: 400px;
  justify-content: center;
}

.info-header {
  padding: 10px;
  color: white;
  position: relative;
  height: 100%; 
}

.info-header h3 {
  position: absolute;
  bottom: 0; 
  left: 0; 
  margin: 0; 
}

.info-main-content {
  display: grid;
  grid-template-rows: 0.8fr 1.2fr auto;
  border-radius: 10px;
  border: none;
  gap: 10px;
  padding: 10px;
  background-color: #F2F2E6;
  width: 400px;
  height: 790px;
  justify-content: center;
}

.info-section-top{
  /* border: solid 2px red; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* gap: 5px; */
  /* padding: 10px; */
}


.info-section-bottom {
  border-top: solid 2px #473366;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* gap: 5px; */
  padding: 10px;
}

.place {
  padding: 10px;
  position: relative; 
  height: 10%; 
}

.place h4 {
  position: absolute;
  bottom: 0; 
  left: 0; 
  margin: 0; 
}

.place-image{
  /* border: 2px solid yellow; */
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background-color: #9c88b3;
}

.info-report-location{
  display: grid; 
  grid-template-rows: 1.5fr 1.5fr;
}

.i-report{
  position: relative;
  top: -7px;
 
}

.info-report{
  padding: 10px;
  position: relative; 
  height: 31%; 
  width: 100%;
}
.info-report h4 {
  position: absolute;
  top: 1; 
  left: 0; 
  margin: 0; 
}

.report-image{
  /* border: solid 2px red; */
  padding: 10%;
  gap: 0px;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 220px;
  height: 100px;
  border-radius: 10px;
  background-color: #9c88b3;
}


.i-location{
  position: relative;
  bottom: -1px;
}

.Location{
  padding: 10px;
  position: relative; 
  height: 25%;
  width: 100%;
}
.Location h4{
  position: absolute;
  bottom: 0; 
  left: 0; 
  margin: 0; 
}
.location-details{
  padding: 10px;
  gap: 0px;
  color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 220px;
  height: 90px;
  border-radius: 10px;
  background-color: #9c88b3;
}


.check-list{
  padding: 10px;
  position: relative; 
  height: 10%;
  width: 100%;
}
.check-list h4{
  position: absolute;
  bottom: 0; 
  left: 0; 
  margin: 0; 
}

.Checklist-details{
  padding: 10px;
  gap: 0px;
  color: black;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  justify-content: center; 
  align-items: center; 
  width: 200px;
  height: 335px;
  border-radius: 10px;
  background-color: #9c88b3;
}
.checklist-item{
  font-size: small;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* border: solid 2px black; */
  background-color: #F2F2E6;
  border-radius: 5px;
  width: 190px;
  height: 40px;
}
.checklist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; 
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.checklist-icon {
  background: none;
  border: none;
  font-size: 24px; 
  color: #473366; 
  cursor: pointer;
}

.checklist-icon i {
  transition: color 0.3s; 
}

.bi-check-circle-fill {
  color: #473366; 
}



.Evidence{
  padding: 10px;
  position: relative; 
  height: 10%;
  width: 100%;
}
.Evidence h4{
  position: absolute;
  bottom: 0; 
  left: 0; 
  margin: 0; 
}
.evidence-preview {
  padding: 10px;
  gap: 0px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 335px;
  border-radius: 10px;
  background-color: #9c88b3;
  position: relative; 
}
.add-button {
  background-color: #FD6E2B;
  color: white;
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
  position: absolute; 
  bottom: 10px;
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.add-button h5 {
  margin: 0; 
}




.info-section-item {
  /* border: 2px solid purple; */
  padding: 10px;
}

.info-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  width: 300px;
  margin-left: auto; 
}

.return-button2{
  background-color: #FD6E2B;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  margin-bottom: 30px;
  margin-right: 20px;
}
.submit-button{
  background-color: #FD6E2B;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  margin-bottom: 30px;
  margin-right: 15px;
}



