.c-management-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .company-container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  .company-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .company-card {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.2s;
  }
  
  .company-card.active {
    background-color: #ff5733;
    color: white;
    transform: scale(1.1);
  }
  
  .details-container {
    margin-top: 20px;
  }
  
  .department-container {
    margin-bottom: 20px;
  }
  
  .department-list {
    display: flex;
    gap: 10px;
  }
  
  .department-card {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
  }
  

  
  .extinguisher-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .company-name {
    font-weight: bold;
    position: absolute;
    margin-left: 5rem;

  }
  .department-count {
    margin-left: 50rem;
  }
  .location {
    cursor: pointer;
    color: #007bff; /* สีเหมือนลิงก์ */
    text-decoration: underline;
  }
  
  .location:hover {
    text-decoration: none;
  }

  .account-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: right;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 5px;
  }
  
  .account-item:hover {
    transform: scale(1.009);
  }
  
  .fire-extinguisher-count {
    font-size: 0.9rem;
    color: #555;
    margin-left: 10px;
  }
  