
  .account-item.active {
    background-color: #f0f8ff;
  }
  
  .mechanic-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  gap: 8px;
}
