@font-face {
    font-family: Sukhum;
    src: url(../public/sukhumvit-set-font-family/SukhumvitSet-Medium.ttf);
}

*{
    font-family: "sukhum";
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}