.fire-add-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 90%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 50;
}

.fire-inside{
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--bold-org);
    width: 80%; height: 85%;
}

.fire-add-container .sidebar{
    align-items: flex-start;
    gap: 0;
    padding: 0;
    background-color: var(--primary-white);
}

.input-container{
    padding: 5px;
    width: 100%; height: 30px;
}

.input {
    width: 100%;
    height: 25px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid var(--bold-org);
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid var(--bold-org);
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid var(--bold-org);
  }

.c-container {
    width: 100%; 
    max-height: 520px;
    padding: 0; 
    overflow-y: scroll; 
}

.c-container::-webkit-scrollbar {
    width: 5px;
    height: auto;
}


.c-container:hover::-webkit-scrollbar-thumb {
    background-color: var(--bold-org); 
}

.fire-main{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.fireman-left, .fireman-right{
    position: relative;
    width: 100%; ; height: 100%;
    background-color: var(--primary-white);
    padding: 10px;
}

.fireman-left{
    display: grid;
    grid-template-rows: 35px 75px 1fr;

}

.fireman-brand-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap; 
    gap: 10px; 
    padding: 0 15px;
    width: 100%;
    height: auto;
}



.brand {
    flex: 0 0 auto; 
    width: 100px; 
    height: 100px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
}



.brand {
    flex: 0 0 auto; 
    width: 50px; 
    height: 50px; 
    background-color: var(--primary-org);
    border-radius: 100%;

}



.fireman-infomation-container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
}

.picture{
    width: 100%; height: 100%; background-color: var(--primary-org)
}

.fireman-infomation-container .property{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%; height: 100%;
    padding: 20px 0;
}

.fireman-infomation-container .property .property-child{
    font-size: 0.9rem;
    width: 100%;
    padding: 0;
}

.fireman-infomation-container .property .property-diss{
    height: 100%; width: 100%;
    padding: 0;
    background-color: transparent;
}

.size{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%; height: auto;
    margin-top: 1rem;
}

.size-child{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  0.8rem;
    width: 100%; height: 70px;
    background-color: var(--primary-org);
}

.Serial-num-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 25px 5px;
    margin-top: 1rem;
    width: 100%; height: auto;
    background-color: var(--bold-org);
    color: white;
    border-radius: 10px;

}

.Serial-value{
    width: 75%;
    background-color: white;
}

.fire-main .button-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 170px;
    bottom: 0.5rem; right: 0.5rem;
}
